body{
    margin: 0px;
}

nav{
    background-color: rgb(26, 162, 204);
    width: 100%;
    height: 50px;
}

nav h4{
    position: absolute;
    left: 5%;
}

nav li{
    display: inline-block;
}

nav ul{
    position: absolute;
    right: 5%;
}
