body{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    background-color:rgb(100, 151, 130);
    margin: 0px;
    }
strong{
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(32, 39, 41);
}

.name{
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(32, 39, 41);
    text-align: center;
}

.title{
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(32, 39, 41);
}

.profile_pic{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 300px;
    right: 50%;
}

.profile{
    background-color:rgb(131, 177, 158);
    border-radius: 15px;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;    
}

.text{
    color: rgb(45, 56, 58);
    text-align: center;
    font-size: 20px;
    
}

.boton_text{
   text-decoration: none; 
   font-weight: 400;
   color:black;
   font-family: 'Merriweather Sans', sans-serif;
   
}

.habilidades{
    background: rgb(131, 177, 158) url(hab1.png) 1200px/200px no-repeat;   
}

.hab{
    font-weight: 800;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(45, 56, 58);
    text-align: center;
}

.hab-list{
    list-style: none;

}

.button{
    padding-left: 770px;
    margin-top: 20px;
}

.button div{
    display: inline-block;
}

.button img{
    border-radius: 15%;
}